<div class="container">
  <div class="content">
    <h1>Buscar pokemon</h1>
    <div class="botones">
      <input
        placeholder="buscar por nombre"
        type="text"
        id="searchPokemon"
        [formControl]="searchPokemon"
        (keyup.enter)="showPokemon()"
      />
    </div>

    <div class="botones ptop12">
      <button (click)="showPokemon()">Buscar</button>
      <button (click)="loadPokemons()">Reestablecer</button>
    </div>

    <div class="content-list">
      <div
        class="pokemon-listed"
        (click)="openModal(pokemon)"
        *ngFor="let pokemon of currentPageResults"
      >
        {{ pokemon.name | titlecase }}
      </div>
      <div class="msg-alerta" *ngIf="currentPageResults.length == 0">
        No hay resultados que coincidan.
      </div>
    </div>

    <div class="pagination" *ngIf="currentPageResults.length != 0">
      <button class="button-pag" (click)="showFirstPage()">Inicio</button>
      <button (click)="beforePage()"><<</button>
      {{ currentPage }} / {{ lastPage }}
      <button (click)="nextPage()">>></button>
      <button (click)="showLastPage()">Final</button>
    </div>
  </div>
</div>

<div class="modal_class_open" *ngIf="modalSwitch == true">
  <app-modal-pokemon></app-modal-pokemon>
</div>
