h2 {
    color: rgb(38, 97, 207);
    font-weight: bolder;
    text-shadow: 2px 2px 0px rgb(255, 217, 0);
    transform: rotate(-3deg);
}

h4 {
    color: rgb(38, 97, 207);
    font-weight: bolder;
    background-color: rgb(255, 217, 0);
    text-align: center;
}

.title{
    padding-top: 8px;
    text-align: center;
}